<!DOCTYPE html>
<html>
  <head>
    <title>HackSiteRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="hero is-primary mb-5">
    <div class="hero-body">
      <p class="title">
        針山ハリネのログインサイト
      </p>
      <p class="subtitle">
        バーチャルプログラマー
      </p>
    </div>
  </section>
    <%= yield %>
  </body>
</html>
